.gitattributes export-ignore
.gitignore export-ignore

# Don't include these directories in the GitHub generated zip files
# This is to reduce the Composer download size
config export-ignore
docs export-ignore
examples export-ignore
test export-ignore

# The Makefile is pretty pointless without the above directories
Makefile export-ignore

# ignore Docker files
docker export-ignore