language: php
php:
  - 7.1
  - 7.0
  - 5.6
  - 5.5
  - 5.4

sudo: required
before_install:
  - sudo apt-get update -qq
  - sudo apt-get install -qq graphviz

install: make composer-install
script:
  - make lint
  - make cs
  - make test-lib
